<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:100">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,700">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{{ "/assets/css/vendors/slidebars.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/vendors/rrssb.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">

<script type="text/javascript" src="{{ "/assets/js/libs/jquery.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/js/libs/slidebars.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/js/libs/jquery.backstretch.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/js/libs/jquery.scrollstop.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/js/libs/rrssb.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/js/functions.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript">
    $(function($) {
        $.slidebars();

        var steps = [];
        var images = [
            {% for image in page.backgrounds %}'{{ image }}',{% endfor %}
        ];

        if (images.length > 0) {
            $('.loader').addClass('loading');

            steps = scrollSteps(images.length);

            $.backstretch(images, {
                fade: 1000
            });

            $.backstretch('pause');
        }

        $(document).on("backstretch.before", function (e, instance, index) {
            $('.loader').addClass('loading');
        });

        $(document).on('scrollstop', function () {
            if (steps.length > 0) {
                var percentage = scrollPercentage();

                for (var i = 0; i < steps.length; i++) {
                    if (percentage < steps[i]) {
                        if (i == $("body").data("backstretch").index) {
                            break;
                        }

                        $.backstretch('show', i);
                        break;
                    }
                }
            }
        });

        $(document).on("backstretch.after", function (e, instance, index) {
            $('.loader').removeClass('loading');
        });
    });
</script>
