<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include loader.html %}

    <main id="sb-site">

        <div class="container">
            
            <div class="wrapper">
                {{ content }}
            </div>

            {% include pagination.html %}
            
            <div class="next-prev">
                {% include next.html %}
                {% include prev.html %}
            </div>
            
            <footer class="post-meta">
                {% if page.date %}
                <div class="meta">
                    <h3 class="meta-title">Date</h3>
                    <span class="meta-content">{{ page.date | date: "%B %-d, %Y" }}</span>
                </div>
                {% endif %}
                {% if page.author %}
                <div class="meta">
                    <h3 class="meta-title">Author</h3>
                    <span class="meta-content">{{ page.author }}</span>
                </div>
                {% endif %}
                {% if page.show_categories %}
                <div class="meta">
                    <h3 class="meta-title">Categories</h3>
                    <span class="meta-content">
                        {% for category in page.categories %}
                            {{ category | capitalize }}&nbsp;
                        {% endfor %}
                    </span>
                </div>
                {% endif %}
                {% if page.show_tags %}
                <div class="meta">
                    <h3 class="meta-title">Tags</h3>
                    <span class="meta-content">
                        {% for tag in page.tags %}
                            {{ tag | capitalize }}&nbsp;
                        {% endfor %}
                    </span>
                </div>
                {% endif %}
            </footer>

         {% include share.html %}

         {% include disqus.html %}
            
        </div>

    </main>

    {% include sidebar.html %}

    {% include js.html %}

</body>

</html>
